body {
    min-width: 400px;
    padding: 10px;
}

.align-input {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: white;
    border-color: rgb(0, 118, 255);
    color: rgb(0, 118, 255);
    border-style: solid;
}

button:hover {
    border-color: rgb(0, 59, 128);
    color: rgb(0, 59, 128);
}