body {
    min-width: 400px;
    padding: 10px;
}

.align-input {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}
